:root{
  --orange: hsl(25, 97%, 53%);
  --white:  hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --font: 'Overpass', sans-serif;

}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  background-color: var(--veryDarkBlue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font);
}
.container{
  background-color: var(--darkBlue);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 340px;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 8px;
}
img{
  width: 35px;
  height: 35px;
  padding: 10px;
  margin-left: 36px;
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 2px solid green; */
}
h1{
  /* background-color: aquamarine; */
  /* margin-left: 2rem; */
  /* border: 2px solid red; */
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 35px;
  width: 55%;
}


p{
  /* background-color: bisque; */
  /* border: solid blue 2px; */
  color: var(--lightGrey);
  word-spacing: 2px;
  line-height: 1.6;
  margin-top: -10px;
  margin-left: 35px;
  font-size: .8rem;
  width: 275px;
}

.rating-container{
  text-align: center;
  margin-top: 20px;
}
.rating-list{
  /* border: 2px solid yellow; */
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  max-width: 290px;
  margin: 0 auto;
  gap:16px;
}

.rating-list li{
  width: 50px;
  height: 45px;
  background-color: rgba(128, 128, 128, 0.07);
  color: var(--lightGrey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.rating-list li:hover{
  background-color: var(--orange);
  cursor: pointer;
  box-shadow: none;
  font-size: 1.2rem;
}

input[type="submit"]{
  background-color: var(--orange);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  color: var(--white);
  width: 85%;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  font-size: .8rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;
}
input[type="submit"]:hover{
  background-color: var(--white);
  color: var(--orange);
  box-shadow: none;
  margin-top: 1rem;
}

.icon{
  /* border: 1px solid green; */
  transform: scale(2);
  width: 60px;
  background: none;
  border-radius: 0%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0px;
  box-shadow: none;
}

.selection{
  border: 1px solid var(--orange);
  color: var(--orange);
  text-align: center;
  font-size: .8rem;
  max-width: 170px;
  margin: auto;
  margin-bottom: 0px;
  background-color: #8080802b;
  padding: 5px;
  border-radius: 20px;
  height: 25px;
}

.thank-you{
  /* border: 1px solid red; */
  text-align: center;
  width: 50%;
  margin: auto;
}

.newP{
  /* border: 2px solid blue; */
  text-align: center;
}

/* Tablet Screen */
@media(min-width: 768px){
  /* body{
    background-color: grey;
  } */
  .container{
    width: 375px;
  }

  img{
    margin-left: 42px;
  }
  h1{
    margin-left: 40px;
    font-size: 1.7rem;
  }
  p{
    margin-left: 40px;
    width: 300px;
  }

  .rating-list li:hover{
    color: var(--white);
  }
  input[type="submit"] {
    width: 80%;
  }
}


